
<h1>Create Invoice</h1>
    <form action="/api/insert" method="POST">
    
        <label for="invoiceID">Invoice ID:</label>

        <input type="text" id="invoiceID" name="invoiceID" ><br>

        <label for="branch">Branch:</label>
        <input type="text" id="branch" name="branch" ><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" ><br>

        <label for="customerType">Customer Type:</label>
        <input type="text" id="customerType" name="customerType" ><br>

        <label for="productLine">Product Line:</label>
        <input type="text" id="productLine" name="productLine" ><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ><br>

        <label for="image">Image:</label>
        <input type="text" id="image" name="image" ><br>

        <label for="unitPrice">Unit Price:</label>
        <input type="number" id="unitPrice" name="unitPrice" ><br>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" ><br>

        <label for="tax5Percent">Tax (5%):</label>
        <input type="number" id="tax5Percent" name="tax5Percent" ><br>

        <label for="total">Total:</label>
        <input type="number" id="total" name="total" ><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" ><br>

        <label for="time">Time:</label>
        <input type="text" id="time" name="time" ><br>

        <label for="payment">Payment:</label>
        <input type="text" id="payment" name="payment" ><br>

        <label for="cogs">COGS:</label>
        <input type="number" id="cogs" name="cogs" ><br>

        <label for="grossIncome">Gross Income:</label>
        <input type="number" id="grossIncome" name="grossIncome" ><br>

        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" ><br>

        <button type="submit">Submit</button>
    </form>